@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf");
}

body {
    font-family: "Source Sans Pro", Georgia;
    font-size: large;
    background-color: #aaa;
}
h1 {
    text-align: center;
}
ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    margin-left: 2em;
    margin-right: 2em;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 0.5em;
}
code {
    background-color: #eee;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

#content, #top-matter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#filters, #intro {
    background-color: white;
    border-radius: 10px;
    max-width: 45rem;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
#filters form {
    margin-block-end: 0;
}
#filters form h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 100%;
    font-weight: normal;
    text-align: center;
}
#filters button:hover {
    cursor: pointer;
}
#filters .nofilter {
    background-color: #999;
}
#filters .tag {
    margin-bottom: 5px;
}

.post {
    background-color: white;
    border-radius: 15px;
    max-width: 45rem;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 1.5rem;
}
.post img {
    max-width: 100%;
    height: auto;
}
.post a.post-number {
    color: red;
    display: inline-block;
    font-weight: bold;
    padding-right: 1em;
    text-decoration: none;
}
.post a.post-number:hover {
    text-decoration: underline;
}

.post .post-date {
    display: inline-block;
    padding-right: 1em;
    color: gray;
}
.post .post-description {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-weight: 600;
}
.post .post-tags {
    display: inline-block;
    margin-bottom: 5px;
}
.tag {
    border-radius: 8px;
    font-size: 90%;
    background-color: yellowgreen;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.tag.type {
    background-color: red;
    color: white;
}
button.tag {
    border: none;
    font-family: "Source Sans Pro", Georgia;
}
.post .post-target {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.post .post-target a {
    color: blue;
    text-decoration: none;
}
.post .post-target a:hover {
    text-decoration: underline;
}
.post p {
    display: block;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.post cite {
    display: block;
    font-style: italic;
}
.post cite::before {
    content: "—";
}
.post a.brktlink {
    padding-left: 0.5em;
    float: right;
    font-style: normal;
    color: blue;
    text-decoration: none;
}
.post a.brktlink:hover {
    text-decoration: underline;
}
.post .recommendation-request {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments h2 {
    text-align: center;
    font-size: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post .comments {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: smaller;
}

.post .comments .comment {
    padding-left: 1em;
    padding-right: 1em;
    padding-block-end: 5px;
    padding-block-start: 5px;
}
.post .comments .comment:nth-child(2n) {
    background-color: #fafafa;
}
.post .comments .comment:nth-child(2n+1) {
    background-color: #eeeeee;
}
.post .comments .comment .author {
    color: blue;
    font-weight: bold;
    display: inline-block;
}
.post .comments .comment .date {
    color: gray;
    display: inline-block;
    margin-left: 1em;
}
.post .comments button.suggest {
    background: none;
    border: none;
    color: blue;
    font-family: "Source Sans Pro", Georgia;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}
form.suggestion-form {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
form.suggestion-form label.left {
    padding-left: 1px;
    float: left;
}
form.suggestion-form .suggestion-element {
    width: 100%;
}
form.suggestion-form input, form.suggestion-form textarea {
    margin-block-end: 5px;
}
form.suggestion-form input[type="submit"] {
    margin-top: 10px;
    display: block;
}
form.suggestion-form input[type="checkbox"] {
    margin-left: 0;
}
form.suggestion-form input[type="text"], form.suggestion-form textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Georgia; 
}
form.suggestion-form input[type="text"] {
    display: inline-block;
}
form.suggestion-form textarea {
    display: block;
}
form.suggestion-form span.leftify {
    overflow: hidden;
    display: block;
    padding-left: 0.5em;
}


#footer {
    width: 80%;
    margin: 2em auto;
    text-align: center;
    font-size: 80%;
}
#footer p {
    margin: 0;
    padding: 0;
}

/* not currently used in any built-in templates, but handy! */
.dashboard {
    /* surprisingly, this achieves centering when the contained elements are inline-block, cool trick! */
    text-align: center;
}
.dashboard-tile {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 8em;
    height: 8em;
    margin-right: 1em;
    background-color: #eee;
    border: 2px solid #bbb;
}
.dashboard-tile div.count {
    font-size: 500%;
    color: blue;
    text-align: center;
    margin-bottom: -10px;
}
.dashboard-tile div.label {
    font-size: 150%;
    color: gray;
    text-align: center;
}

.recommendations-blurb {
    margin: 1em;
    background-color: aliceblue;
    border: 2px solid lightblue;
    padding: 10px;
}

.clear {
    clear: both;
}